<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href= "css/styles.css">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
            <title>Mercado Liebre</title> 
        </head>

       <body>
            <header>
               <div class="logo"> 
                 <img src= "images/logo-mercado-liebre.svg" alt= "logo"  />
                    <div class="busqueda">
                        <form>
                            <input type="text" id="uname" name="name" 
                            placeholder="  Buscar productos, marcas y mas..."
                            size="50">
                        </form>
                        <div class="submit"><i class="fa fa-search fa-2x"></i></div>
                    </div> 
                    <div class= "cuotas"> 
                        <i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i> 
                    </div>
               </div>
               
                   <p >
                      <nav class="navegacion">
                            <ul>
                            <li><a href="#">Ofertas</a></li> 
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                            </ul>
                      </nav>    
                   </p>
               <p>
                    <nav class="regis">
                       <ul>
                            <li><a href='/register'>Crea tu cuenta <i class="far fa-address-card fa-1x"></i></a></li>  
                            <li><a href='/login'>Ingresá<i class="fas fa-sign-in-alt fa-1x"></i></a></li>
                            <li><a href="#">Mis compras<i class="fas fa-shopping-basket fa-1x"></i></a></li>
                       </ul>
                        <div class="burger-menu">
                        <i class="fas fa-bars"></i></div>               
                    </nav>
              </p>
              <section class="banner">
                  <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
              </section>
         </header>

              <section> 
                    <main class= "secciones">
                        <article class="cafe">
                                <p><h2 class= "visita">Basado en tu última visita</h2></p>
                                <div class="articulos"><img src= "images/img-cafetera-moulinex.jpg" alt="imagen cafetera"></div>
                                <div class="info">
                                    <i class="fas fa-truck"></i>
                                    <div class="alinear">
                                        <div class="precio">$6.770</div>
                                        <div class= "descuentos">40% OFF</div>
                                   </div>
                                   <h3 class= "descripciones">Cafetera Moulinex</h3>
                                </div>
                            </article>

                        <article class="mc">
                            <div class="articulos"><img src= "images/img-macbook-pro-2019.jpg" alt="imagen img-macbook"></div>
                            <div class="info">
                                <i class="fas fa-truck"></i>
                                <div class="alinear">
                                    <div class="precio">$230.000</div>
                                    <div class= "descuentos">20% OFF</div>
                                </div>    
                                <h3 class= "descripciones">MacBook Pro 2019 </h3>
                           </div>
                        </article>

                        <article class="sg">
                            <div class="articulos"><img src= "images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10"></div>
                          <div class="info">
                                <i class="fas fa-truck"></i>
                                <div class="alinear">
                                    <div class= "precio">$70.500</div>
                                    <div class= "descuentos">10% OFF</div>
                                </div>
                                <h3 class= "descripciones">Samsung Galaxy S10</h3>
                           </div>
                        </article>

                        <article class="tv">
                            <div class="articulos"><img src= "images/img-tv-samsung-smart.jpg" alt="imagen tv-samsung-smart"></div>
                            <div class="info">
                                <i class="fas fa-truck"></i>
                                <div class="alinear">
                                   <div class="precio">$23.200</div>
                                   <div class= "descuentos">5% OFF</div>
                                </div> 
                                <h3 class= "descripciones">SmartTv Samsung 43"</h3>   
                            </div>
                        </article>
                    </main>
                </section>

                <section class= "ofertas">
                    <article class="caf">
                        <h2 class= "sale">Ofertas</h2>
                        <div class="articulos"><img src= "images/img-cafetera-moulinex.jpg" alt="imagen cafetera"></div>
                        
                        <div class="info">
                            <i class="fas fa-truck"></i>
                            <div class="alinear">
                                <div class="precio">$6.770</div> 
                                <div class= "descuentos">40% OFF</div>    
                          </div>
                            <h3 class= "descripciones">Cafetera Moulinex</h3>
                        </div>
                    </article>
                
                    <article class="mcb">
                      <div class="articulos"><img src= "images/img-macbook-pro-2019.jpg" alt="imagen img-macbook"></div>
                        <div class="info">
                            <i class="fas fa-truck"></i>
                           <div class="alinear">
                                <div class="precio">$230.000</div>
                                <div class= "descuentos">20% OFF</div>     
                           </div>
                            <h3 class= "descripciones">MacBook Pro 2019</h3>
                       </div>
                    </article>
                
                    <article class="sgx">
                        <div class="articulos"><img src= "images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10"></div>
                        <div class="info">
                            <i class="fas fa-truck"></i>
                            <div class="alinear">
                                <div class= "precio">$70.500</div>
                                <div class= "descuentos">10% OFF</div>
                           </div>
                            <h3 class= "descripciones">Samsung Galaxy S10</h3>
                        </div>
                    </article>
                
                    <article class="tv">
                        <div class="articulos"><img src= "images/img-tv-samsung-smart.jpg" alt="imagen tv-samsung-smart"></div>
                        <div class="info">
                            <i class="fas fa-truck"></i>
                            <div class="alinear">
                                <div class="precio">$23.200</div>
                                <div class= "descuentos">5% OFF</div>
                            </div>
                            <h3 class= "descripciones">SmartTv Samsung 43"</h3>
                        </div>
                    </article>
                </section>
                <footer>
                    <section class="foter">
                        <div class="pie">
                            <div class= "credit-card"> <i class="fas fa-credit-card"></i></div>
                            <h2>Pagá con tarjeta o en efectivo</h2>
                            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                puntos de pago. ¡Y siempre es seguro!</p>
                    
                            <div class= "gift"> <i class="fas fa-gift"></i> </div>
                            <h2>Envío gratis desde $ 2.500</h2>
                            <p>Envío gratis desde $ 2.500</p>
                    
                            <div class= "ffa-user-shield"> <i class="fas fa-user-shield"></i></div>
                            <h2>Seguridad, de principio a fin</h2>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.</p> 
                            <p class= "copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
                        
                        </div>
                    </section>
                </footer>
                
        </body>
    </html>