*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
header{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #f0e91f;
    width: 100%;
    height: 40%;
    border-bottom: solid 10px #f0e91f ;

}
body{
    font-family: 'Roboto', sans-serif;
    background:#ebebeb; 
}

.logo{
    display:flex;
    justify-content: flex-end;   
}
.logo img{
    width: 50%;
    margin-top: 10px;
}
.logo .busqueda{
    width: 50%;
    margin-top: 12px;
    margin-left: 10px;
}
.logo .lupa{
    margin-top: 20px; 
    margin-right: 10px;
}
.navegacion{
    margin-top: 10px; 
}
li a{
    color:black;
}
/*main{
    width: 350px;
    border-top: solid 20px #f0e91f;
}*/

.visita{
    font-size: 24px;
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: -1px;
}
.sale{
    font-size: 24px;
    margin-left: 13px;
    margin-top: 15px;
    /*margin-bottom: -1px*/
}
.info .alinear{
    display:flex;
    justify-content: space-around;
}
.precio{
    font-size: 18px;
    /*background:white;*/
    /*display:flex;*/
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 4px;
    margin-left: -40px; 

}
.descuentos{
    font-size: 16px;
    /*background:white;*/
    color:#69c423;
    /*margin:solid 15px;*/
    /*justify-content: space-around;*/
    margin-top: 9px;
    margin-left: -60px;
}
.descripciones{
    font-size: 16px;
    /*background:white; */
    margin-top: 10px; 
}

p{
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 5px;
}
h2{
    font-size: 12px; 
}
h3{
    /*border-bottom: solid #d4d2d2 15px ;*/
}
.burger-menu{
   background-color:#0000ff;
   color:#ffffff;
   width: 25px;
   height: 25px;
   margin: 0 auto; 
   margin-bottom: 5px;
   border-top: solid 5px #0000ff;
   text-align: center;
   border-radius: 4px;
   margin-top: -10;
}
.cuotas{
    text-align: center;
} 
article{
    text-align: center;
    display:flex;
    flex-direction: column;
    /*background:#d4d2d2;*/ 
}
section .secciones{
   /* margin:solid 15px #d4d2d2; */
         
}
/*.secciones{
    margin-top: 0px;
}*/
section {
   /* background: #d4d2d2;*/
    width: 90%;
    margin-left: 15px;
}

.articulos img {
    max-width: 100%;
   /* max-height: 90%; */
    margin-top: 10px; 
    margin-left: 3px;
    margin-right: 15px; 
    box-shadow: 5px 5px 5px rgb(134, 126, 126);
      
}

.info{
    margin-right: 15px;
    margin-left: 15px;
    /*background-color:#d4d2d2 ;*/
}
.fa-truck{
    display: block;
    /*font-size: 16px;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #FFF;*/
    float: right;
    margin-top: 10px;
    color:#39b54a;
    position:static;
    margin-right: 15px;
}
/* .info{
    width: 130px;
    height: 30px; 
    margin-top: 10px;
    font-size: 16px;
    background-color: #FFF;

 }*/
 .secciones .info{
    background: white;
    width: 100%;
   /* height: 80px;*/
    box-shadow: 3px 0px 5px rgb(134, 126, 126);
    border-top: solid 1px #ebebeb;
    margin-left: 3px;
    border-bottom: solid 20px white;

} 
   .alinear{
    height: 30px; 
    margin-top: 10px;
    font-size: 16px;
    background-color: #FFF;
}
   .ofertas .info{
    background: white;
    width: 100%;
    height: 80px;
    border-top: solid 1px #ebebeb;
    box-shadow: 3px 0px 5px rgb(134, 126, 126);
    margin-left: 3px;
    
    
}
   .ofertas{
   /*padding:solid 15px #d4d2d2;*/
   
}
   
.foter{
    box-sizing:border-box;
    margin-top: 20px;
    margin-left: 19px;
    background-color: white;
    width: 90%;
    height: 100%;
    border-bottom: solid 10px #ebebeb;
    border-top: solid 10px white;
}

.pie{

    text-align: center;   
    color: #666;
}
.credit-card{
   /*margin-bottom: 10px;*/
   color:#03264C;
   width: 2em;
   margin-left: 45%;
}
.gift{
   /*margin-bottom: 10px white;*/
   color:#03264C;
   margin-top: 10px;
   width: 2em;
   margin-left: 45%;
}
.ffa-user-shield {
    margin-top: 10px;
   color:#03264C;
   margin-bottom: 10px;
   width: 2em;
   margin-left: 45%; 
}
.copy{
   border-bottom: solid 10px white;
}



   


@media (min-width: 820px){
    /* Tablets-en proceso*/
 }
@media (min-width: 1280px){
    /* Laptop-en proceso */
}
   

